{% extends "layout.html" %}

{% block title %}
Search
{% endblock %}

{% block main %}

<div class="jumbotron">

    <h1 class="display-4 text-center">search for a book</h1><br>
    <div class="container justify-content-center">
        <form action="/search" method="POST">
            <div class="row form-group">
                <div class="col">
                    <label for="title">Search by author name, book title, ISBN, or year of publication</label>
                    <input type="text" class="form-control" id="title" name="book_search"
                        placeholder="Author name, title, ISBN, year">
                </div>


            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-primary align-center" value="Search">
            </div>
        </form>
    </div>
</div>


{% endblock %}